<app-header></app-header>
<br>

<mat-card class="example-card">
     <mat-card-header>

          <mat-card-title>Director's Message</mat-card-title>
          <mat-card-subtitle>About OUr School</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="./assets/img/1.jpeg" alt="Photo of a Shiba Inu" style="height: 280px; width: 400px;  margin-left: auto;
     margin-right: auto; border:1px solid;">
     <mat-card-content>
          <p>
               आत्माभिव्यक्ति।
               <br>
               <br>
               मेरा नाता शिक्षा जगत से रहा,,1974 नवम्बर से 2003 तक दर्शन शास्त्र प्राध्यापक के रुप में
               और जनवरी2004 से अगस्त 2010 तक प्राचार्य के पद पर,,अपनी सेवायें देते समय ,हमेशा शिक्षा के लिए,विशेषकर
               बालिकाओं के लिए ,शिक्षा क्षेत्र में कुछ करने का मन बराबर बना रहा।मेरे स्वर्गीय पति श्री दुर्गा प्रसाद
               शुक्ल, जी मेरे प्रेरणास्रोत,,संरक्षक और पूर्ण सहयोगी थे,,उन्हीं के आशीर्वाद से ,सत्यम् गर्ल्स हायर
               सेकेण्डरी स्कूल की स्थापना 2004 में संभव हो सकी।2004 में माध्यमिक शिक्षा परिषद उत्तर प्रदेश द्वारा
               हाईस्कूल की मान्यता मिली ,और तबसे लेकर आजतक यह विद्यालय,आर्थिक दृष्टि से कमजोर ,मेधावी छात्र छात्राओं को
               बेहतर शिक्षा का यमुनापार प्रयागराज ,डांडी डभाव रीवा रोड का सर्वप्रिय,जाना पहचाना शिक्षा केन्द्र बना
               है।सच्चे मन से,,ईश्वर की कृपा के साथ,लोकहित में किया गया कार्य ,उत्तरोत्तर आगे बढ़ता है,,इसका उदाहरण बन
               गया,,सत्यम् गर्ल्स हायर सेकेण्डरी स्कूल एण्ड कालेज,जब इण्टर कला संकाय 2013एवं विज्ञान संकाय की मान्यता
               2014विद्यालय को प्राप्त हुयी।। मुख्य मार्ग पर स्थित यह इण्टर कालेज , जहां एक ओर हरियाली की नैसर्गिक शोभा
               युक्त है वहीं दूसरी ओर शैक्षिक संसाधनों से सुसज्जित कक्षों,का विशाल भवन है,,और योग्य प्रशिक्षित अध्यापकों
               के कुशल पठन पाठन से विद्यार्थियों के उत्तरोत्तर विकास का केन्द्र बन गया है।। यह कालेज किसी पूंजीपति
               द्वारा संचालित व्यवसायिक पूर्ति का केन्द्र नहीं है,,,यह तो मेरे और मेरे स्व पति डी पी शुक्ल जी के समर्पण
               का ,,सरस्वती की आराधना एवम् , महात्मा गांधी के अन्तयोदय सिद्धांत पर आधारित ,,शिक्षा के सर्वोदय विकास के
               लिए, समर्पण भाव से जीवन के सत्कर्म की आहूति हें।। मैं अपने विद्यालय परिवार के सभी सम्मानित
               शिक्षकों,कर्मचारियों ,विद्यार्थियों का धन्यवाद ज्ञापन करती हूं,क्षेत्र के शिक्षा के प्रति जागरूक नागरिकों
               का एवं उन सभी का आभार व्यक्त करती हूं,जिनका किसी भी रूप में हमें सहयोग मिला।। आपके सहयोग की सदा अपेक्षा
               रहेगी हमें|
               <br><br>
               डॉ सत्या पाण्डेय।<br>
               एम. ए /दर्शनशास्त्र/एल- एल. बी. / डी.फिल. <br>
               प्रबन्धक
          </p>
     </mat-card-content>

</mat-card>