.example-card {
    max-width: 400px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid;
    margin-top: 10px ;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  }
  
  .example-header-image {
   
    background-size: cover;
  
  }
  