
<h2>Admission Form</h2>
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Student First Name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Student Last Name</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Father's Name</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Mother's Name</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
   
      <div class="input-group">
        <span class="input-group-text">Email</span>
        <input type="text" aria-label="First name" class="form-control">
      </div>
      <div class="input-group">
        <span class="input-group-text">Contact Number</span>
        <input type="text" aria-label="First name" class="form-control">
      </div>


        <br><br>
        <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <ul>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
            <label class="form-check-label" for="gridRadios3">
              Other
            </label>
          </div>
        </ul>
        </div>
      </fieldset>

      <div class="input-group">
        <span class="input-group-text">Date Of Birth</span>
        <input type="text" aria-label="First name" class="form-control" placeholder="DD">
        <input type="text" aria-label="First name" class="form-control" placeholder="MM">
        <input type="text" aria-label="Last name" class="form-control" placeholder="YYYY">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Adhar Number</span>
        <input type="text" aria-label="First name" class="form-control">
      </div>

      <div class="col-md-2">
        <label for="inputState" class="form-label">Religion</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>Hindu</option>
          <option>Muslim</option>
          <option>Chirstian</option>
          <option>Sikh</option>
          <option>Jain</option>
          <option>Other</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputState" class="form-label">Category</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>General</option>
          <option>Other Backward Class</option>
          <option>Miniorty</option>
          <option>SC/ST</option>
          <option>Other</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="inputState" class="form-label">Nationality</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>Indian</option>
          <option>Nepali</option>
          <option>Bhutanese</option>
          <option>Sri Lankan</option>
          <option>Other</option>
        </select>
      </div>

      <div class="input-group mb-1">
        <label class="input-group-text" for="inputGroupFile01">Upload Student Photo</label>
        <input type="file" class="form-control" id="inputGroupFile01">
      </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>