<app-header></app-header>
<br>
<h1 ><u> Satyam Inter College </u></h1>

<p class="para"><u>Affilated to Uttar Pradesh Board Prayagraj</u></p>
<br>
<!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide> -->
<div>
  <img src="./assets/img/3.jpeg" alt="Random first slide" class="center">
</div>
<!-- <div class="picsum-img-wrapper">
        <img src="./assets/img/0.jpeg" alt="Random first slide">
      </div>
      <div class="picsum-img-wrapper">
        <img src="./assets/img/0.jpeg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>SATYAM G.H.S SCHOOL & COLLEGE</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./assets/img/1.jpeg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./assets/img/2.jpeg" alt="Random third slide" style="height: 500px;">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div> -->
<!-- </ng-template>
  </ngb-carousel>  -->

  <br>
  <br>
  <mat-card class="example-card">
    <mat-card-header>

         <mat-card-title>Contact</mat-card-title>
         
         
    </mat-card-header>
    <mat-card-content>
      
      <p style="margin-left: 17px; ">Dabhav, Rewa Road, Chaka Naini ,Prayagraj Uttar Pradesh</p>

      <p style="margin-left: 17px; ">Mobile: 9415308789, 9415030247</p>
      
      <p style="margin-left: 17px; ">Email : satyamgirlssic@gmail.com</p>
      
    </mat-card-content>
      </mat-card>
